/* вся шапка */
.header {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 92px 49px 92px 51px;
  text-underline-position: under;
}

/* контейнер логотипа */
.header__logo {
  width: 30%;
  flex-shrink: 0;
  align-self: flex-start;
  justify-self: center;
  border-bottom-style: none;
}

/* контейнер навигации */
.header__menu {
  display: flex;
  gap: 32px;
  justify-content: start;
  align-items: center;
  list-style: circle;
  margin-top: 41px;
}

/* ссылка без точки */
.header__menu__no-bullit {
  list-style-type: none;
}

/* блок с адресом */
.header__address {
  align-self: center;
  justify-self: end;
  margin-right: -11px;
  max-width: 250px;
}

/* шрифты хедера и футера */
.link__list_fonts {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

/* активная ссылка для хедера и футера */
.link_active {
  text-decoration: none;
}

/* вся секция с изображением */
.cover {
  width: 100%;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position:center;
  z-index: 1;
  position: relative;
}


/* полупрозрачный блок поверх секции */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* заголовок */
.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 50px 0 50px;
  position: relative;
  z-index: 1;
}

/* классы для выравнивания строк */
.aligned-text {
  align-self: flex-start;
}

.aligned-text_center {
  align-self: center;
  padding-top: 5px;
}

.aligned-text_right {
  align-self: flex-end;
}

.letter-spacing-extended {
  padding-left: 30px;
  padding-right: 30px;
}

/* класс для обнуления общего межбуквенного расстояния для последней буквы */
.no-letter-spacing {
  margin-right: -30px;
}

/* контейнер для подзаголовка и кнопки */
.cover__description {
  display: flex;
  gap: 80px;
  color: #fcfcfc;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding: 110px 0 50px 99px;
}


/* текст подзаголовка */
.cover__description__text {
  display: flex;
  padding:30px 0 10px 323px ;
  z-index: 1;
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17.5px;
  justify-content: center;
}

.cover__description__button {
  border: 1px solid #fff;
  z-index: 1;
  margin-top: 15px;
  padding: 0 30px 0 35px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

/* вся секция лотов */
.lots {
  margin: 50px 50px 0px 50px;
}

/* заголовок секции */
.lots__heading {
  padding: 130px 0px 27px 40px;
  display: flex;
  flex-direction: row;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* список карточек */
.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  gap: 25px;
  height: 100%;
}

/* пункт списка карточки */
.lots__card-list-item {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 430px;
}

/* карточка */
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
  list-style-type: none;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 450px;
  justify-content: space-between;
  z-index: 1;
}

/* ссылка на карточку */
.card__link {
  min-height: 450px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

/*классы, чтобы задать определённый фон каждой из карточек*/
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/* ссылка «Посмотреть больше» */
.lots__look-more-link {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  margin:32px 0 0 40px;
}

/* заголовок карточки */
.card__title {
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 2;
  padding: 50px 38px 0px 40px;
}

/* текст карточки */
.card__text {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 0 39px 50px 40px;
  z-index: 1;
}

/*  изображение логотипа */
.about__logo-image {
  background-image: url(../images/logo-white.svg);
  height: 100%;
}

/* вся секция */
.about {
  margin: 180px 50px 90px 50px;
}

/*  изображение логотипа */
.about__logo {
  background-color: #000000;
  max-height: 240px;
  max-width: 240px;
  border-radius: 50%;
  padding: 63px 46px;
  margin-left: 95px;
}

/*  заголовок секции */
.about__title {
  padding-top: 100px;
  padding-bottom: 73px;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* класс для колонок */
.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

/*  блок для текстов секции */
.about__text {
  display: flex;  
  flex-direction: column;
  gap: 27px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;;
}

/*  подвал */
.footer {
  display: grid;
  align-self: start;
  grid-template-columns: repeat(3, 1fr);
  padding: 90px 50px 90px 50px;
  text-underline-position: under;
}

/*  расположение контактов */
.footer__link-list {
  justify-self: start;
  max-width: 250px;
}

/*  расположение меню */
.footer__menu {
  justify-self: center;
  list-style-type: none;
  text-align: center;
  line-height: normal;
}

/*  ссылка на социальные сети */
.footer__social-list {
  display: flex;
  flex-direction: row;
  align-self: start;
  justify-self: end;
  gap: 46px;
  max-width: 241px;
}

/* иконка социальной сети */
.footer__social-icon {
  height: 49px;
}
